{
  "extends": [
    "airbnb",
    'plugin:flowtype/recommended',
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "flowtype",
    "import"
  ],
  "parser": "babel-eslint",
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true,
    }
  }
}
